<div class="bloginner">
  <div>

    <span><%= raw coment.description%></span>
  </div>

    <br>
    <div class="postedit">
      <strong><%= coment.user.email%> -</strong>
      <span>create:</span>
      <%= coment.created_at%>
      <span>update:</span>
      <%= coment.updated_at%>
      <%= link_to 'like', item_coment_likes_path(coment.item,coment) , remote: true %>
      <%= link_to 'unlike', item_coment_unlikes_path(coment.item,coment) , remote: true %>
    </div>
</div>