


<div class="container">
  <div class="col-md-12 ">
    <%= form_for @item do |f|%>
        <div><%= f.text_field :title,class: "form-control"%></div>
        <div><%= f.text_area :description, class:"form-control"%></div>
        <div>
          <%= render 'form', item: @item %>
          <%= link_to 'Back', items_path %>
        </div>

    <% end %>
  </div>
</div>
|

