<div class="container">
  <div class="col-md-12 ">
    <%= form_for @item do |f|%>
        <div>
          <span>Title:</span>
          <span><%= f.text_field :title%></span>
        </div>
        <br>
        <div>
          <span>Description:</span>
          <span><%= f.text_area :description%></span>
        </div>
        <div>

          <span class="actions">
             <%= render 'form', item: @item %>
            <%= link_to 'Cancel', :back %>
          </span>

        </div>

    <% end %>
  </div>
</div>
|

