<h1><h1 class="text-center">Новая статья</h1></h1>
<div class="container">
  <div class="col-md-12 ">
    <%= form_for @item  do |f|%>
       <div><%= f.text_field :title,class: "form-control"%></div>
        <div><%= f.cktext_area :description, class:"form-control"%></div>
        <div>
          <%= f.submit 'create'%>
          <%= link_to 'Back', items_path %>
        </div>

    <% end %>
  </div>
</div>



