<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="text-center"><%= @item.title%></h1>
  <div class="bloginner">
    <%= raw @item.description%>
  </div>
  <div>
    <span>create:</span>
    <%= @item.created_at%>
     <span>update:</span>
    <%= @item.updated_at%>
  </div>
</div>

<div class="container">
  <div class="col-md-12 ">

    <%=  render(@item.coments)  %>

    <%= form_for [@item, @item.coments.build], remote: true do |f| %>
        <br>
        <%= f.cktext_area :description, placeholder: 'Message' %>
        <br>
        <%= f.submit 'create',remote:true%>
    <% end %>

  </div>
</div>
