<div class="container">
  <h1 class="text-center"><%= @item.title%></h1>
  <div class="bloginner">
    <%= raw @item.description%>
  </div>
  <div>
    <span>author: <%= @item.user.email%> create: <%= @item.created_at%> update: <%= @item.updated_at%></span>



  </div>
</div>

<div class="container">
  <div class="col-md-12 ">

    <div id='com'>
      <%=  render(@item.coments)  %>
    </div>


    <% if user_signed_in? %>
        <%= form_for [@item, @item.coments.build],id:'form_message', remote: true do |f| %>
            <br>
            <%= f.cktext_area :description, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' }%>
            <br>
            <%= f.submit 'create'%>
        <% end %>
    <% else %>
    <p>Для добавления комментариев авторизуйтесь</p>
    <% end %>
  </div>
</div>
